/*estilo para encabezado*/

p {
    color: red;
    background-color: ;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}
.container  {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}